@{
    ViewData["Title"] = "Home Ahorcado";
}

<a href = '@Url.Action("Index", "Home")'> <svg  xmlns="http://www.w3.org/2000/svg"  width="45"  height="45"  viewBox="0 0 24 24"  fill="none"  stroke="#275DAD"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg></a>
<h1 class="titulo">Ahorcado</h1>
<p>El juego del ahorcado es un juego de adivinanza de palabras en el que el jugador debe adivinar una palabra oculta, letra por letra o con toda la palabra. Cada vez que se adivina incorrectamente, se agrega una parte del cuerpo a un ahorcado. El objetivo es adivinar la palabra antes de que se complete el dibujo</p>

<form action = '@Url.Action("EmpezarPartida", "Home")' target = "_self">
    <div style="display: flex; justify-content: center;">
        <button>Hacé click acá para jugar</button>
    </div>
</form>
