html {
  font-family: "Slackey", sans-serif;
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
  background-color:#FCF7F8;
}

footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.error{
  color: rgb(138, 0, 0);
}

a{
  color:#275DAD;
}

input, form{
  font-family: "Slackey", sans-serif;
  font-weight: bold;
}

.titulo{
  text-align: center;
  font-size: 2.5rem;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 1.2rem;
}
.divLetrasFallidas h3{
  text-decoration: underline;
  margin: 0px;
}
.divLetrasFallidas h4{
  margin: 0px;
}
.divLetrasFallidas{
  margin-bottom: 1%;
  background-color: #E1E1ED;
  width: 20%;
  border-radius: 7px;
  padding: 0.5%;
}
.textoRosa{
  color:#EE85B5;
}
.center{
  display: flex; 
  justify-content: center;
}
img{
  height: 500px;
  border: 2px solid #000022;
  border-radius: 7px;
}

button{
  font-family: Arial, Helvetica, sans-serif;
  color:#FCF7F8;
  padding: 1%;
  background-color: #275DAD;
  border: 2px solid #275DAD;
  border-radius: 10px;
  cursor: pointer;
  height: 7%;
  width: 12%;
  transition: 0.3s;
  font-size: 1rem;
  margin: 1%;
}

button:hover{
  background-color: #EE85B5;
  border: 2px solid #EE85B5;
  color:#000022; 
  font-size: 1.2rem;
  height: 10%;
  width: 14%;
}

.boton{
  background-color: #EE85B5;
  border: 2px solid #EE85B5;
  color:#000022; 
  border-radius: 10px;
  cursor: pointer;
}

form{
  margin-bottom: 1%;
}

span{
  color:#EE85B5;
}